<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head"> </head>
  <body>
    <th:block th:if="${session.login}">
      <input type="radio" name="navbar_trigger" id="navbar_trigger01" />
      <input type="radio" name="navbar_trigger" id="navbar_trigger02" />
      <input type="radio" name="navbar_trigger" id="navbar_trigger03" onchange="journalBodyScrollToBottom()"/>
    </th:block>
    <header th:replace="fragments/header :: header" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger01" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger02" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger03" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger04" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger05" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger06" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger07" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger08" />
    <aside th:replace="fragments/aside :: aside" />
    <main th:replace="( 'fragments/main/' + ${page} ) :: main" />
    <aside th:replace="fragments/rightAside :: aside" />
    <footer th:replace="fragments/footer :: footer" />
    <article class="loading">
      <h2 class="blind">loading</h2>
      <figure>
        <figcaption class="blind">로딩</figcaption>
      </figure>
    </article>
    <script src="/js/sweetalert.min.js"></script>
    <script th:inline="javascript">
      window.onload = () => {
          const message = [[${session.message}]];
          if(message !== null) {
              swal(message);
              fetch("/message_reset", {
                method: "GET",
              });
          }
      }
    </script>
    <th:block th:replace="( 'fragments/script/' + ${page} ) :: script" />
    <script defer>
      const loading = document.querySelector(".loading");
      loading.classList.add("blind");
    </script>
  </body>
</html>
