<!DOCTYPE html>
<html lang="en">
  <head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrinkto-fit=no"
    />
    <!-- Custom styles for this template -->

    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/global.css" rel="stylesheet" />
    <link href="../../static/css/header.css" rel="stylesheet" />
    <link href="../../static/css/aside.css" rel="stylesheet" />
    <link href="../../static/css/main/main.css" rel="stylesheet" />
    <link href="../../static/css/footer.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script
      src="https://kit.fontawesome.com/bfafa52380.js"
      crossorigin="anonymous"
      defer
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <title>Quiz Maker | home</title>
  </head>
  <body>
    <input type="radio" name="navbar_trigger" id="navbar_trigger01" />
    <input type="radio" name="navbar_trigger" id="navbar_trigger02" />
    <input type="radio" name="navbar_trigger" id="navbar_trigger03" checked />
    <header class="header">
      <div class="inner">
        <h1 class="logo">
          <a href="/"> Quiz Maker</a>
        </h1>
        <ul class="top_menu">
          <li>
            <a href="/logout">로그아웃</a>
          </li>
        </ul>
        <nav class="navbar">
          <ul>
            <li>
              <label for="navbar_trigger01">ToDoList</label>
            </li>
            <li>
              <label for="navbar_trigger02">Quiz</label>
            </li>
            <li>
              <label for="navbar_trigger03">Journal</label>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger01" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger02" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger03" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger04" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger05" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger06" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger07" />
    <input type="radio" name="quiz_set_trigger" id="quiz_set_trigger08" />
    <aside class="aside">
      <ul class="quiz_nav">
        <li>
          <label for="quiz_set_trigger01">1</label>
          <input type="checkbox" id="edit_quiz_set_trigger" />
          <article class="edit_quiz_set">
            <h3 class="blind">edit Quiz set</h3>
            <label for="edit_quiz_set_trigger">✖</label>
            <form action="/edit/quizSet">
              <input type="text" />
              <button>➕</button>
            </form>
          </article>
          <a href="">🔼</a>
          <label class="edit" for="edit_quiz_set_trigger">🔘</label>
          <a href="">❌</a>
          <a href="">🔽</a>
        </li>
        <li>
          <input type="checkbox" id="add_quiz_set-trigger" />
          <article class="add_quiz_set">
            <h3 class="blind">add Quiz set</h3>
            <label for="add_quiz_set-trigger">✖</label>
            <form action="/add/quizSet">
              <input type="text" />
              <button>➕</button>
            </form>
          </article>
          <label for="add_quiz_set-trigger">➕</label>
        </li>
      </ul>
    </aside>
    <main class="main">
      <div class="inner">
        <section class="todolist">
          <h2 class="blind">todolist</h2>
          <article class="finish">
            <h3>finish</h3>
            <ul>
              <li
                th:each="toDo : ${toDoList}"
                th:if="${toDo.todoStatus.name() == 'FINISHED'}"
              >
                <span th:text="${toDo.sentence}">sentence</span>
                <a th:href="@{'/toDo/return/' + ${toDo.id}}">RETURN</a>
              </li>
            </ul>
          </article>
          <article class="todo">
            <h3>todo</h3>
            <ul>
              <li
                th:each="toDo : ${toDoList}"
                th:if="${toDo.todoStatus.name() == 'TODO'}"
              >
                <span th:text="${toDo.sentence}">sentence</span>
                <a th:href="@{'/toDo/finish/' + ${toDo.id}}">FINISH</a>
                <a th:href="@{'/toDo/delete/' + ${toDo.id}}">DELETE</a>
              </li>
            </ul>
            <form action="/toDoList/add" method="post" th:Object="${toDoForm}">
              <input type="text" th:field="*{sentence}" autocomplete="off" />
              <button>➕</button>
            </form>
          </article>
        </section>
        <section class="quiz">
          <h3 class="blind">quiz</h3>
          <div class="quiz_swipper_container">
            <article
              class="quiz_swipper"
              th:each="quizSet, info : ${quizSetList}"
            >
              <input
                type="checkbox"
                th:name="${'quiz_add_trigger' + quizSet.id}"
                th:id="${'quiz_add_trigger' + quizSet.id}"
              />
              <article class="quiz_add">
                <h5 class="blind">문제 추가하기</h5>
                <form
                  th:action="@{'/quizSet/' + ${quizSet.id} + '/quiz/add'}"
                  method="post"
                  th:Object="${quizForm}"
                >
                  <button>➕</button>
                  <input
                    type="text"
                    th:field="*{quiz}"
                    placeholder="문제"
                    autocomplete="off"
                  />
                  <input
                    type="text"
                    th:field="*{answer}"
                    placeholder="답"
                    autocomplete="off"
                  />
                </form>
                <label th:for="${'quiz_add_trigger' + quizSet.id }">▼</label>
              </article>
              <h4 class="blind" th:text="${quizSet.name}">quizSetName</h4>
              <div th:class=" 'swiper ' + ${ 'quiz_swiper' + info.index}">
                <div class="swiper-wrapper">
                  <div
                    class="swiper-slide"
                    th:each="quiz : ${quizSet.getQuizList()}"
                  >
                    <a
                      class="quiz_delete"
                      th:href="@{'/quiz/delete/' + ${quiz.id}}"
                      >×</a
                    >
                    <h5 th:text="${quiz.quiz}">문제</h5>
                    <p class="blind" th:text="${quiz.answer}">답</p>
                    <form class="answer-check">
                      <input type="text" placeholder="답" autocomplete="off" />
                      <button>❔</button>
                    </form>
                  </div>
                </div>
                <div class="swiper-pagination"></div>
              </div>
              <input
                type="range"
                th:name=" 'quiz_gage_pagination' + ${quizSet.id}"
                th:id=" 'quiz_gage_pagination' + ${quizSet.id}"
                min="0"
                th:max="${quizSet.getQuizList().size()-1}"
                value="0"
              />
            </article>
          </div>
        </section>
        <section class="journal">
          <h2 class="blind">Journal</h2>
          <input
            type="checkbox"
            name="add_journal_trigger"
            id="add_journal_trigger"
          />
          <article class="add_journal">
            <h3 class="blind">add_journal</h3>
            <label for="add_journal_trigger">×</label>
            <form action="">
              <input type="text" name="title" />
              <textarea name="" id="" cols="30" rows="10"></textarea>
              <button>PUSH</button>
            </form>
          </article>
          <ul class="journal_header">
            <li>
              <select name="journal_year" id="journal_year">
                <option value="all">year</option>
                <option value="2020">2020</option>
              </select>
            </li>
            <li>
              <select name="journal_month" id="journal_month">
                <option value="all">month</option>
                <option value="2016">2016</option>
              </select>
            </li>
            <li>
              <select name="journal_date" id="journal_date">
                <option value="all">date</option>
                <option value="2016">2016</option>
              </select>
            </li>
            <li>
              <select name="journal_day" id="journal_day">
                <option value="all">day</option>
                <option value="0">일</option>
                <option value="1">월</option>
                <option value="2">화</option>
                <option value="3">수</option>
                <option value="4">목</option>
                <option value="5">금</option>
                <option value="6">토</option>
              </select>
            </li>
            <li>
              <label class="add_journal_trigger" for="add_journal_trigger"
                >Write</label
              >
            </li>
          </ul>
          <input
            type="radio"
            name="journal_detail_trigger"
            id="journal_detail_trigger_close"
          />
          <ul class="journal_body">
            <li>
              <label for="journal_detail_trigger1">
                <time datetime="">0000년 00월 00일 0요일</time>
                <h3>title</h3>
                <a class="journal_delete" href="journal_trigger1">×</a>
                <input
                  type="radio"
                  name="journal_detail_trigger"
                  id="journal_detail_trigger1"
                  checked
                />
                <label class="journal_detail" for="journal_detail_trigger_close">
                  <div class="inner">
                    <time datetime="">0000년 00월 00일 0요일</time>
                    <h4>오늘은 힘든날 이었다</h4>
                    <p>가 나 다 라 마 바 사아자 차 카 타 파 하 오늘은 힘든 날 이었다. 여름이었다</p>
                  </div>
                </label>
              </label>
            </li>
            <li>
              <label for="journal_detail_trigger1">
                <time datetime="">0000년 00월 00일 0요일</time>
                <h3>title</h3>
                <a class="journal_delete" href="journal_trigger1">×</a>
                <input
                  type="radio"
                  name="journal_detail_trigger"
                  id="journal_detail_trigger1"
                />
                <label class="journal_detail" for="journal_detail_trigger_close">
                  <div class="inner">
                    <time datetime="">0000년 00월 00일 0요일</time>
                    <h4>title</h4>
                    <p>detail</p>
                  </div>
                </label>
              </label>
            </li>
            <li>
              <label for="journal_detail_trigger1">
                <time datetime="">0000년 00월 00일 0요일</time>
                <h3>title</h3>
                <a class="journal_delete" href="journal_trigger1">×</a>
                <input
                  type="radio"
                  name="journal_detail_trigger"
                  id="journal_detail_trigger1"
                />
                <label class="journal_detail" for="journal_detail_trigger_close">
                  <div class="inner">
                    <time datetime="">0000년 00월 00일 0요일</time>
                    <h4>title</h4>
                    <p>detail</p>
                  </div>
                </label>
              </label>
            </li>
            <li>
              <label for="journal_detail_trigger1">
                <time datetime="">0000년 00월 00일 0요일</time>
                <h3>title</h3>
                <a class="journal_delete" href="journal_trigger1">×</a>
                <input
                  type="radio"
                  name="journal_detail_trigger"
                  id="journal_detail_trigger1"
                />
                <label class="journal_detail" for="journal_detail_trigger_close">
                  <div class="inner">
                    <time datetime="">0000년 00월 00일 0요일</time>
                    <h4>title</h4>
                    <p>detail</p>
                  </div>
                </label>
              </label>
            </li>
            <li>
              <label for="journal_detail_trigger1">
                <time datetime="">0000년 00월 00일 0요일</time>
                <h3>title</h3>
                <a class="journal_delete" href="journal_trigger1">×</a>
                <input
                  type="radio"
                  name="journal_detail_trigger"
                  id="journal_detail_trigger1"
                />
                <label class="journal_detail" for="journal_detail_trigger_close">
                  <div class="inner">
                    <time datetime="">0000년 00월 00일 0요일</time>
                    <h4>title</h4>
                    <p>dasfdsafdsaf</p>
                  </div>
                </label>
              </label>
            </li>
          </ul>
        </section>
      </div>
    </main>
    <footer class="footer">
      <div class="inner">
        <address>popopo</address>
      </div>
    </footer>
    <article class="loading blind">
      <h2 class="blind">loading</h2>
      <figure>
        <figcaption class="blind">로딩</figcaption>
      </figure>
    </article>
  </body>
</html>
