<!DOCTYPE html>
<html lang="en">
  <head th:fragment="header">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrinkto-fit=no"
    />
    <!-- Custom styles for this template -->

    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/reset.css" rel="stylesheet" />
    <link href="../../static/css/global.css" rel="stylesheet" />
    <link href="../../static/css/header.css" rel="stylesheet" />
    <link href="../../static/css/main/join.css" rel="stylesheet" />
    <link href="../../static/css/footer.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/bfafa52380.js"
      crossorigin="anonymous"
      defer
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Quiz Maker | home</title>
  </head>
  <body>
    <header class="header">
      <div class="inner">
        <h1 class="logo">
          <a href="/"> Quiz Maker</a>
        </h1>
        <nav class="navbar">
          <ul>
            <li>
              <a href="#">fdsaf</a>
            </li>
            <li>
              <a href="#">fdsaf</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main class="main">
      <div class="inner">
        <form action="#" method="post" class="form">
          <fieldset>
            <legend>JOIN</legend>
            <fieldset class="id_field">
              <legend>ID</legend>
              <input type="text" th:field="*{id}"  autocomplete="off" />
            </fieldset>
            <fieldset class="password_field">
              <legend>Password</legend>
              <input type="password" th:field="*{password}"  autocomplete="off"  />
            </fieldset>
            <fieldset class="name_field">
              <legend>Name</legend>
              <input type="text" th:field="*{name}" autocomplete="off"  />
            </fieldset>
            <button>SUBMIT</button>
          </fieldset>
        </form>
      </div>
    </main>
    <footer class="footer">
      <div class="inner">
        <address>박세진</address>
      </div>
    </footer>
  </body>
</html>
