<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<aside class="aside" th:fragment="aside">
    <th:block th:if="${session.login}">
        <ul class="quiz_nav">
            <li th:each="quizSet, info : ${quizSetList}">
                <label th:for="${'quiz_set_trigger0' + info.count}" th:text="${quizSet.name}">quizSetName</label>
                <input type="checkbox" id="edit_quiz_set_trigger">
                <article class="edit_quiz_set">
                  <h3 class="blind">edit Quiz set</h3>
                  <label for="edit_quiz_set_trigger">✖</label>
                  <form th:action="@{'/quizSet/edit/' + ${quizSet.id} }" method="post" th:Object="${quizSetForm}">
                    <input type="text" th:field="*{name}" autocomplete="off">
                    <button>🖊</button>
                  </form>
                </article>
                <label class="edit" for="edit_quiz_set_trigger">🖊</label>
                <a th:href="@{'/quizSet/delete/' + ${quizSet.id}}">X</a>
                <a th:href="@{'/quizSet/up/' + ${quizSet.id}}">▲</a>
                <a th:href="@{'/quizSet/down/' + ${quizSet.id}}">▼</a>
            </li>
            <li>
                <input type="checkbox" id="add_quiz_set_trigger" >
                <article class="add_quiz_set">
                    <h3 class="blind">add Quiz set</h3>
                    <label for="add_quiz_set_trigger">✖</label>
                    <form action="/quizSet/add" th:Object="${quizSetForm}">
                        <input type="text" th:field="*{name}" autocomplete="off">
                        <button>
                            ➕
                        </button>
                    </form>
                </article>
                <label for="add_quiz_set_trigger">➕</label>
            </li>
        </ul>
    </th:block>
</aside>