.main {
  padding: 15vh 0;
  height: 100vh;
}

.main .form {
  display: block;
  height: 100%;
  padding: 30px 30px 0;
  background-color: #718093;
}

.main .form fieldset {
  background-color: #f5f6fa;
  padding: 30px;
  width: 100%;
  clear: left;
}

.main .form fieldset legend {
  font-weight: 700;
  padding-bottom: 30px;
  font-size: 28px;
  background-color: #f5f6fa;
  float: left;
}

.main .form fieldset .id_field,
.main .form fieldset .password_field,
.main .form fieldset .name_field {
  padding: 15px;
  background-color: #dcdde1;
}

.main .form fieldset .id_field legend,
.main .form fieldset .password_field legend,
.main .form fieldset .name_field legend {
  padding: 0 0px 15px;
  background-color: #dcdde1;
  font-size: 18px;
}

.main .form fieldset::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main .form fieldset fieldset:nth-child(n + 3) {
  margin-top: 15px;
}

.main .form fieldset input {
  font-size: 18px;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  width: 100%;
}

.main .form button {
  margin-top: 30px;
  border: 2px solid #192a56;
  font-weight: 600;
  display: block;
  float: left;
  padding: 10px 15px;
  font-size: 24px;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  color: #f5f6fa;
  background-color: #192a56;
  transition: background 100ms;
}

.main .form a {
  margin-left: 4%;
}

.main .form button:hover {
  color: #192a56;
  background-color: white;
}
