.main {
  padding: 15vh 0;
  height: 100vh;
}

.main .form {
  display: block;
  height: 100%;
  padding: 50px 30px 0;
  background-color: #718093;
}

.main .form fieldset {
  border: 1px solid #2f3640;
  background-color: #f5f6fa;
  padding: 18px 30px;
}

.main .form fieldset::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main .form fieldset fieldset:nth-child(n + 3) {
  margin-top: 15px;
}

.main .form fieldset legend {
  font-weight: 600;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #f5f6fa;
}
.main .form fieldset input {
  font-size: 18px;
  outline: 0;
  border: 1px solid #2f3640;
  padding: 10px 15px;
  width: 100%;
}

.main .form button,
.main .form a {
  margin-top: 30px;
  border: 1px solid #718093;
  font-weight: 600;
  display: block;
  float: left;
  padding: 10px 15px;
  font-size: 18px;
  width: 100%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 30px;
  color: #f5f6fa;
  background-color: #2f3640;
}

.main .form a {
  margin-left: 4%;
}

.main .form button:hover {
  color: #2f3640;
  background-color: white;
}
