.main {
  padding: 15vh 0;
  height: 100vh;
}

.main .form {
  display: block;
  height: 100%;
  padding: 80px 30px 0;
  background-color: #718093;
}

.main .form fieldset {
  border: 1px solid #2f3640;
  background-color: #f5f6fa;
  padding: 15px 30px;
}

.main .form fieldset::after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main .form fieldset fieldset:nth-child(3) {
  margin-top: 30px;
}

.main .form fieldset legend {
  font-weight: 600;
  padding: 10px 15px;
  font-size: 28px;
  background-color: #f5f6fa;
}
.main .form fieldset input {
  font-size: 28px;
  outline: 0;
  border: 1px solid #2f3640;
  padding: 10px 15px;
  width: 100%;
}

.main .form button,
.main .form a {
  margin-top: 40px;
  border: 1px solid #2f3640;
  font-weight: 600;
  display: block;
  float: left;
  padding: 10px 15px;
  font-size: 28px;
  width: 48%;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 30px;
  color: white;
  background-color: #2f3640;
  transition: background 300ms;
}

.main .form a {
  margin-left: 4%;
}

.main .form button:hover,
.main .form a:hover {
  color: #2f3640;
  background-color: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
